<!-- sale_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if sale %}Edit Sale{% else %}Create Sale{% endif %}</title>
</head>
<body>
    <h1>{% if sale %}Edit Sale{% else %}Create Sale{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="product">Product:</label>
        <select id="product" name="product">
            {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="0" step="1" min="0">

        <br>
        <button type="submit">{% if sale %}Update{% else %}Create{% endif %}</button>
    </form>
</body>
</html>
